[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=StageOrdersFIXConfigFiles/fix/FIX42.xml

LogoutTimeout=5
ResetOnLogon=Y
ResetOnDisconnect=Y
SenderSubID=TML1
SenderLocationID=TML NORTH VANCOUVER


[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.2
SenderCompID=NAJOYCE2
SessionQualifier=NJoyce111174$
TargetCompID=MBO
HeartBtInt=30 

SocketConnectHost=12.41.48.99
SocketConnectPort=10516

SocketConnectHost1=66.243.69.99
SocketConnectPort1=10516

